.env.development
.env.production
node_modules
dist
# git init
# git add README.md
# git commit -m "first commit"
# git branch -M main
# git remote add origin https://github.com/Akhilvs-502/article-app-frontend.git
# git push -u origin main